<div id="add-product-modal-overlay" class="add-product-modal" onClick= {{action closeModal}}>
    <div id="add-product-modal-overlay" class="purchase-transaction">
        {{#paper-card class="box-full" as |card|}}
        
        <p>Adicionar perda</p>
    
        <div class="inputs">
            <div class="flex-40">
                {{#power-selector-with-label selected=selectedProduct searchField="name" placeholder="Produto" options=products onchange=(action
                    (mut selectedProduct)) as |product|}}
                    {{product.name}}
                {{/power-selector-with-label}}
            </div>
            {{paper-input class="flex-40" type="number" label="Unidade de Medida (em Kg)" value=model.amount onChange=(action (mut model.amount))}}
            {{#paper-button class="flex-40 button gray-white" raised=true primary=true onClick=(action onClose)}}Cancelar{{/paper-button}}
            {{#paper-button class="flex-40 button green-white" raised=true primary=true onClick=(action onSave model true selectedProduct)}}Adicionar{{/paper-button}}
        </div>
        {{/paper-card}}
    </div>
</div>