<div class="bar-graph-with-history">
    {{#if options}}
        <div class="chart">
            {{#paper-card}}
                <span class="top-label"> Dinheiro Reais</span>
                {{ember-chart type="bar" data=data options=options height=height}}
                <span class="bottom-label"> Nov - Dez</span>
            {{/paper-card}}
        </div>
        <div class="chart-legend">
            {{#each data.labels as |data index| }}
                <div class="legend-item">
                    <div class="circle" style= {{get data.legendStyles index}}> </div>
                    <span style="text-align: left">{{data}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>