<div class="dashboard-detail">
    <h1>Bem-vindo</h1>
    <span>Resumo de transações e operações de Cooperativa</span>
    {{#paper-card class="box-small" as |card|}}
    {{/paper-card}}
    {{#paper-card class="box-big" as |card|}}
    {{/paper-card}}
    {{#paper-card class="box-small" as |card|}}
    {{/paper-card}}
    {{#paper-card class="box-big" as |card|}}
        <div class="header">
            <p>
                Estoque
            </p>
            <span>
                {{#paper-button href="" onClick=null }}Ver Mais{{/paper-button}}
            </span>
        </div>
        {{bar-graph-with-history chartData=overallChartData height=100 }}
    {{/paper-card}}
</div>