<div class="dashboard-detail">
    <h1>Bem-vindo</h1>
    <span>Resumo de transações e operações de Cooperativa</span>
    {{#paper-card class="box-small" as |card|}}
        <div class="header">
            <p>
                Compras Realizadas
            </p>
            <span>
                {{#paper-button href="" onClick=(action "selectRoute" 'purchase-transactions') }}Ver Mais{{/paper-button}}
            </span>
        </div>
        {{!-- {{line-graph-with-legend chartData=salesChartData legendType="point" height=75 }} --}}
    {{/paper-card}}
    {{#paper-card class="box-big report" as |card|}}
        <div class="header">
            <p>
                Relatório
            </p>
            <span>
                {{#paper-button href="" onClick=(action "selectRoute" 'reports-container') }}Ver Mais{{/paper-button}}
            </span>
        </div>
        {{bar-graph-with-history chartData=reportChartData height=100 }}
    {{/paper-card}}
    {{#paper-card class="box-small" as |card|}}
        <div class="header">
            <p>
                Vendas Realizadas
            </p>
            <span>
                {{#paper-button href="" onClick=(action "selectRoute" 'sales-transactions') }}Ver Mais{{/paper-button}}
            </span>
        </div>
        {{!-- {{line-graph-with-legend chartData=salesChartData legendType="point" height=100 }} --}}
    {{/paper-card}}
    {{#paper-card class="box-big" as |card|}}
        <div class="header">
            <p>
                Estoque
            </p>
            <span>
                {{#paper-button href="" onClick=(action "selectRoute" 'supply-control') }}Ver Mais{{/paper-button}}
            </span>
        </div>
        {{bar-graph-with-history chartData=supplyChartData height=90 }}
    {{/paper-card}}
</div>