 <div class="user-signin">

 <h1>Esqueci a senha</h1>
 <p>Para recuperar sua senha, digite o seu e-mail e enviaremos uma senha temporária</p>

<div class="flex-100">
    <h1>E-mail</h1>
    <p>
      {{paper-input
        label=""
        value=username
        onChange=(action (mut username))
        type="email"
      }}
    </p>
    {{#paper-button raised=true onClick=(action "send")}}Enviar{{/paper-button}} 
</div>   


  </div>