{{#paper-card class="box-small" as |card|}}  
            <p>{{model.title}}</p>
            <div class="value">
                <p class="coin">R$</p>
                <p class="amount">{{model.amount}}</p>
            </div> 
{{#paper-button raised=false primary=false}}Ver histórico{{/paper-button}}
            {{/paper-card}}
