<div class="graph-money-amount-highlighted">
    <p>{{model.title}}</p>
    <div class="value">
        <p class="coin">{{model.unity}}</p>
        <p class="amount">{{model.amount}}</p>
    </div>
</div>