<div class="producers-detail">
    <h1>Produtores</h1>
        <span>{{#paper-button href="" }}Adicionar Novo Produtor{{/paper-button}}</span>

             {{#paper-card class="box-search" as |card|}}                
                         {{paper-input class="search" placeholder="Pesquisar Produtor" value=name onChange=(action (mut name))}}
            {{/paper-card}}
            
            {{#paper-card class="box-full" as |card|}}            
            {{/paper-card}}


</div>