 <div class="user-signin">

 <h1>Pesquisar Cooperativa</h1>
 <p>Caso tenha interesse de participar da nossa plataforma, você deve estar vinculado a uma cooperativa. Veja aqui se a sua já é nosso parceiro.</p>

<div class="flex-100">
    {{#power-select selected=selectCooperative placeholder="Nome da Cooperativa" options=cooperatives onchange=(action (mut selectCooperative)) as |name|}}
        {{name}}
    {{/power-select}}
</div>   


  </div>