<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio nisi, ultricies quis molestie fringilla, dignissim vel purus. Proin sed velit dui.
            </div>

        </div>
        <div class="swiper-slide">
            <div class="text">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio nisi, ultricies quis molestie fringilla, dignissim vel purus. Proin sed velit dui.
            </div>
        </div>
        <div class="swiper-slide">
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris odio nisi, ultricies quis molestie fringilla, dignissim vel purus. Proin sed velit dui.
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination">
        <span> 1</span>
        <span> </span>
    </div>
</div>
<!-- Swiper JS -->