<div class="user-signin">
<h1>Nome da Cooperativa</h1>
<p>
  {{paper-input
    label=""
    value=cooperativeName
    onChange=(action (mut cooperativeName))
  }}
</p>

<h1 style="margin-top: 25px;">CNPJ</h1>
<p>
  {{paper-input
    label=""
    value=cooperativeCNPJ
    onChange=(action (mut cooperativeCNPJ))
  }}
</p>

<h1 style="margin-top: 25px;">E-mail</h1>
<p>
  {{paper-input
    label=""
    value=email
    onChange=(action (mut email))
    type="email"
  }}
</p>

{{#paper-button raised=true }}Concluir{{/paper-button}} 


{{!-- {{#paper-button raised=true onClick=(action "login")}}Entrar{{/paper-button}}  --}}
{{!-- {{#paper-button href="https://web-agro-control-system.herokuapp.com/index.html" target="_blank"}}Esqueceu a senha?{{/paper-button}} --}}


</div>