@mixin font-face($name) {
    @font-face {
        font-family: $name;
        src: url("./fonts/#{$name}/#{$name}.eot?") format("eot"),
        url("./fonts/#{$name}/#{$name}.woff") format("woff"),
        url("./fonts/#{$name}/#{$name}.ttc") format("ttc"),
        url("./fonts/#{$name}/#{$name}.ttf") format("ttf")
    }
}

@include font-face('Montserrat');
@include font-face('LucidaGrande');
@include font-face('Poppins');
@import "_color-definitions";
$color-primary: $palette-grey-900;
$color-accent: $palette-indigo-A700;
$primary: "green";
$accent: "grey";
$warn: "red";
@import "ember-power-select-material";
@import 'ember-paper';
@import "navigation-bar-main";
@import "user-connection";
@import "dashboard-side-menu";
@import "dashboard-detail";
@import "producers-detail";
@import "purchase-transaction";
@import "supply-control";
@import "reports-container";
@import "add-product-modal";
@import "producer-dashboard-detail";
@import 'graphs';
@import 'line-graph-with-filter';
@import 'cooperative-edit';
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #ECEFF1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
input,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Roboto';
}

::-webkit-scrollbar {
    width: 8px;
    background-color: lightgray;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.md-input {
    font-family: 'Montserrat-Regular', sans-serif;
}

input[type="password"] {
    margin-top: -20px;
    height: 55px;
    font-size: 55px;
}

.md-button {
    text-transform: capitalize;
    font-family: 'Montserrat-Regular', sans-serif;
    &.md-raised {
        background-color: white;
        color: black;
    }
}

span.power-selector-with-label-label {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 11px;
    color: #7B7B7B;
    margin-top: -15px;
    margin-bottom: 0px;
}

.power-selector-with-label-selector {
    margin-top: -5px;
}

.power-selector-with-label {
    margin-top: -10px;
}

.ember-power-select-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ember-power-select-selected-item,
.ember-power-select-placeholder {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.ember-power-select-trigger--active,
.ember-power-select-placeholder {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
