.cooperative-edit-container {
    height: 100%; // overflow-y:auto; 
    display: flex;
    margin-top: 64px;
    margin-left: 50px;
    margin-right: 45px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 22.5px;
        width: 100%;
        margin-bottom: 40px;
    }

    .inputs {
        .flex-50{
            margin-right: 5%;
            width: 28%;
        }
    }
}