$accent-color: rgba(54,204,121,1);
$text-color: white;
$text-color-unselected: #08783A; 
$icon-color-unselected: #2FAF68;
$animation-duration: $bm-transition-duration - 0.1s;
// Burger Menu Overrides
$bm-transition-duration: 0.3s;
$bm-overlay-background: rgba(0, 0, 0, 0.7);



 .dashboard-detail {
    height: 100%;  
    // overflow-y:auto; 
    display: flex;
    margin-top: 64px;
    margin-left: 74px;
    margin-right: 74px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    h1 {
      font-family: 'Montserrat-Bold', sans-serif;
      font-size: 22.5px;
      width: 40%;
      margin-bottom: 40px;
    }

    span {
      font-family: 'Montserrat-Regular', sans-serif;
      font-size: 12.5px;
      width: 60%;
      text-align: right;
    }

    .box-small {
      width: 325px;
      height: 217px;
      margin-top: 20px;

    }

    .box-big {
      width: 483px;
      height: 217px;
      margin-top: 20px;
    }
 }