.purchase-transaction {
    height: 100%; // overflow-y:auto; 
    display: flex;
    margin-top: 64px;
    margin-left: 25px;
    margin-right: 45px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 22.5px;
        width: 100%;
        margin-bottom: 40px;
    }
    .box-full {
        width: 100%;
        height: 360px;
        margin-top: 20px;        
        padding: 30px;

        .inputs {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            md-input-container.md-default-theme .md-input  {
                border-color: black;
            }

            label {
                font-family: 'Poppins-Medium', sans-serif;
                font-size: 15px;
                color: #7B7B7B;
            }

            .md-input {
                font-family: 'Poppins-Medium', sans-serif;
                font-size: 13px;
                color: black;
                .md-input-focused {
                    border-color: black;
                }
            }
            
            .flex-20 {
                margin-right: 5%;
            }

            .ember-power-select-trigger {
                margin-top: 8px;
            }

            .ember-power-select-selected-item, .ember-power-select-placeholder {
                font-family: 'Poppins-Medium', sans-serif;
                font-size: 13px;
            }
            .ember-power-select-trigger--active, .ember-power-select-placeholder {
                font-family: 'Poppins-Medium', sans-serif;
                font-size: 13px;
                color: #7B7B7B;
            }

            .radio-buttons {
                md-radio-group {
                    display:flex;
                    align-items: center;
                    width: 190px;
                    md-radio-button {
                        width: 50%;
                        .md-label {
                            span {
                                font-family: 'Poppins-Medium', sans-serif;
                                font-size: 13px;
                            }
                        }
                    }
                }
                p {
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 11px;
                    color: #7B7B7B;
                    margin-top: 5px;
                    margin-bottom: 8px;
                }
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-right: 1.5%;
            }

            .md-button.md-default-theme {
                margin-top: 20px;
                height: 50px;
                padding-left: 5%;
                padding-right: 5%;
                background: #36CC79;
                font-family: 'Montserrat-Bold', sans-serif;
                font-size: 13px;
                &:hover {
                    background:#36CC50;
                }
            }
        }

        p {
            font-family: 'Montserrat-Bold', sans-serif;
            font-size: 13px;
            margin-bottom: 25px;
        }

    }

    .box-small {
        width: 300px;
        height: 300px;
        margin-top: 20px;
  
      }
  
      .box-big {
        width: 555px;
        height: 300px;
        margin-top: 20px;
        button {
            font-size: 12.5px;
            margin-top: -25px;
        }
        p {
            font-family: 'Poppins-SemiBold', sans-serif;
            font-size: 13px;
            margin-top: 25px;
            margin-left: 25px;
        }
         table {
            //  padding-top: 20px;
             margin: 25px;
             margin-top: 15px;
             tr {
                 display: flex;
                 justify-content: space-between;
                 border-bottom: 1px solid rgba(216, 216, 216, 1);

                 &.header {
                    border-bottom: 1px solid rgba(133, 133, 133, 0.5);
                     th {
                         color: rgba(133, 133, 133, 1);
                         font-size: 10px;
                         margin-bottom: 0px;
                         margin-top: 0px;
                         padding-bottom: 10px;
                         padding-top: 0px;
                     }
                 }
                 th {
                     font-family: 'Poppins-Regular', sans-serif;
                     color: rgba(0, 0, 0, 1);
                     font-size: 12px;
                     font-weight: normal;
                     width: 20%;
                     margin-bottom: 5px;
                     padding-top: 15px;
                     &.name {
                        width: 30%;
                     }
                     &.button {
                        width: 10%;
                     }
                     button {
                         font-size: 12.5px;
                         margin-top: -5px;
                     }
                 }
             }
         }
      }
}