.reports-container {
    height: 100%; // overflow-y:auto; 
    display: flex;
    margin-top: 64px;
    margin-left: 74px;
    margin-right: 74px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 22.5px;
        width: 40%;
        margin-bottom: 40px;
    }
    span {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 12.5px;
        width: 40%;
        text-align: right;
    }
    .box-full {
        width: 100%;
        height: 291px;
        margin-top: 20px;
        
    }
    .box-big {
        width: 490px;
        height: 240px;
        margin-top: 20px;
        padding: 20px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        p {
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 14px;
            height: 10%;
            width: 100%;
            text-align: left;
        }

        button {
            height: 10%;
            font-family: 'Montserrat-Light', sans-serif;
            font-size: 12px;
            color: #858585;
        }
        .graph-container {
            display: flex;
            width: 100%;
            justify-content: space-around;
            .graph-item {
                .circle {
                  display: block;
                  border: solid 8px #36cc79;
                  border-radius: 100%;
                  width: 115px;
                  height: 115px;
                  .circle-content {
                    width: 100%;
                    height: 100%;
                    padding-top: 30%;
                    font-family: 'Montserrat-SemiBold', sans-serif;
                    letter-spacing: 0.8px;
                    font-size: 250%;
                    text-align: center;
          
                  }
                }
                .circle-subtitle {
                  display: inline-block;
                  font-family: 'Montserrat-Light', sans-serif;
                  width: 115px;
                  padding-left: 5px;
                  text-align: center;
                  margin-top: 5px;
                  margin-bottom: 10%;
                  font-size: 12px;
                }
              }
        }
        
    }
      
    .box-small {
        width: 270px;
        height: 240px;
        margin-top: 20px;
        padding: 20px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        p {
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-size: 14px;
            height: 10%;
            width: 100%;
            text-align: left;
        }
        .value {
            .coin {
                font-family: 'Montserrat-Light', sans-serif;
                font-size: 20px;
                color: #36CC79;
            }
            .amount {
                font-family: 'Montserrat-SemiBold', sans-serif;
                font-size: 30px;
                color: #36CC79;
            }
        }
        button {
            height: 10%;
            font-family: 'Montserrat-Light', sans-serif;
            font-size: 12px;
            color: #858585;
        }
    }
    .graph-money-amount-highlighted {
        p {
            font-family: 'Montserrat-Light', sans-serif;
            font-size: 12px;
            color: #858585;

        }
        .value {
            background: #EFFFF6;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            .coin {
                font-family: 'Montserrat-Light', sans-serif;
                font-size: 20px;
                color: #36CC79;
            }
            .amount {
                font-family: 'Montserrat-SemiBold', sans-serif;
                font-size: 30px;
                color: #36CC79;
            }
        }
    }
    .box-big-double {
        @extend .box-big;
        height: 370px;
    }

    .box-small-double {
        @extend .box-small;
        height: 370px;
    }
}